@charset "UTF-8";

/*MOBILE FIRST*/

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

 html {
    height: 100vh;
}

body {
    background: black url(../imagens/back-phone.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
}

main {
    background-color: rgba(255, 255, 255, 0.842);
    width: 400px;
    margin: auto;
    margin-top: 20px;
    border-radius: 10px;
    padding: 10px;
}

h1 {
    text-align: center;
    color: white;
    text-shadow: 1px 1px 1px black;
}

img {
    display: block;
    margin: auto;
}

img#smartphone { display: block;}
img#tablet { display: none;}
img#print { display: none;}
img#desktop { display: none;}
img#tv { display: none;}